/*/.ipynb_checkpoints/
/*/*/.ipynb_checkpoints/
/*/__old__/
/data/__cache__
/data/input_data/connectivity_matrix
*/__pycache__
/.idea
.Rproj.user
analysis/*cache/
analysis/*files/
*.Rproj
*.Rhistory
data.zip
analysis/old/*
data/input_data/C.csv
